{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>Grid creation</h1>
        <h2>Create your own workspace</h2>
        <form action="{% url 'grid_creation:result' %}" method="post">
        {% csrf_token %}
          <input type="number" name="line_size" id="line_size" />
          <label>How many line you want ?</label><br />
          <input type="number" name="column_size" id="column_size" />
          <label>How many column you want ?</label><br />
          <input type="number" name="obstacle_amount" id="obstacle_amount" />
          <label>How many obstacle you want ?</label><br />
        <input class="btn btn-default" type="submit" value="Process" />
        </form>
    </div>
</div>
{% endblock %}
